.register-patient {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 11%); */
  /* border: 1px solid #ddd; */
}

.admit-new-patient button,
.register-patient button {
  width: fit-content;
}

.admit-new-patient .buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: row-reverse;
}

.card .card-header {
  border-bottom: 1px solid #ddd;
  background: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-header h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.card .card-body {
  padding: 20px;
  /* border: 2px solid #ddd; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.card-body .over {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: flex-start;
  overflow-x: auto;
  width: 100%;
}

.css-1agg2cp-MuiResponsiveChart-container {
  width: 100% !important;
}
.css-10z5nq2 {
  width: 100% !important;
}

.css-1j74uew-MuiPaper-root-MuiCard-root{
  min-width: fit-content;
}

.middle-appoint {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}
.badges {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.patient-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: flex-start;
}
.doctor-card {
  transition: transform 0.3s ease;
}

.doctor-card:hover {
  transform: translateY(-10px);
}

.search-field {
  margin-bottom: 20px;
}

.css-1kuwa16-MuiCardMedia-root {
  object-fit: cover;
  object-position: top;
}

.card-header.fheader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    margin: 0;
    color: #777;
  }
}

.shift-schedule {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}


.availability-tracker {
  padding: 20px;
}

.tracker-title {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.staff-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: space-between;
}

.staff-card {
  width: 48%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.avai-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.staff-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.status-badge {
  font-size: 12px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 20px;
}


.department-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}


.small-card {
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 11%); */
  /* border: 1px solid #ddd; */
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.top .small-card {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding: 20px 15px;
  position: relative;

    svg.dots {
        color: var(--text-light2);
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        transition: all 0.3s ease;
        padding: 5px;
        border-radius: 50%;

        &:hover {
            background-color: #d8d8d8;
        }
    }
}

.top .small-card:nth-of-type(1) {
  .icon {
    background: var(--primary-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    svg {
      color: var(--color-primary);
      font-size: 22px;
    }
  }
}

.top .small-card:nth-of-type(2) {
  .icon {
    background: var(--second-section-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    svg {
      color: var(--second-section);
      font-size: 22px;
    }
  }
}

.top .small-card:nth-of-type(3) {
  .icon {
    background: var(--third-section-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    svg {
      color: var(--third-section);
      font-size: 22px;
    }
  }
}

.top .small-card:nth-of-type(4) {
  .icon {
    background: var(--fourth-section-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    svg {
      color: var(--fourth-section);
      font-size: 22px;
    }
  }
}

.small-card .right {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;

  h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light2);
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }
}
