/* Overview styling */
.overview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 11%); */
  /* border: 1px solid #ddd; */
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.top .card {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  padding: 20px 15px;
  position: relative;

    svg.dots {
        color: var(--text-light2);
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        transition: all 0.3s ease;
        padding: 5px;
        border-radius: 50%;

        &:hover {
            background-color: #d8d8d8;
        }
    }
}

.top .card:nth-of-type(1) {
  .icon {
    background: var(--primary-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;

    svg {
      color: var(--color-primary);
      font-size: 22px;
    }
  }
}

.top .card:nth-of-type(2) {
  .icon {
    background: var(--second-section-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    svg {
      color: var(--second-section);
      font-size: 22px;
    }
  }
}

.top .card:nth-of-type(3) {
  .icon {
    background: var(--third-section-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    svg {
      color: var(--third-section);
      font-size: 22px;
    }
  }
}

.top .card:nth-of-type(4) {
  .icon {
    background: var(--fourth-section-light);
    min-height: 3.2rem;
    min-width: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    svg {
      color: var(--fourth-section);
      font-size: 22px;
    }
  }
}

.card .right {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-start;

  h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-light2);
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }
}

.middle {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;

}

.middle .card:nth-of-type(1) {
  flex: 2.5;

  svg {
    max-width: 450px;
  }
}
.middle .card:nth-of-type(2) {
  flex: 1;
}

.card-body.graphs {
  display: flex;
  gap: 10px;
  flex-direction: row;

  .left-graph {
    flex: 2;
  }
  .right-graph {
    position: relative;
    flex: 1;

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      font-size: 40px;
      color: var(--text-light2);
      cursor: pointer;
      transition: all 0.3s ease;
      padding: 5px;
      border-radius: 50%;
      background-color: #fdfdfd;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:hover {
        background-color: #d8d8d8;
      }
    }
  }
}

.bottom {
  display: flex;
  gap: 20px;
  align-items: flex-start;

  .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .row {
      display: flex;
      gap: 15px;
      align-items: center;
      justify-content: space-between;

      &:nth-of-type(1) {
        svg {
          color: var(--text-light1);
        }
        h3 {
          color: var(--text-light1);
        }
      }

      svg {
        color: var(--text-light2);
        font-size: 20px;
      }

      h3 {
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        flex: 1;
        color: var(--text-light2);
      }
    }
  }
}