.main-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #f5f6fa;
}

.main-div {
    height: 100%;
    overflow-y: auto;
    padding: 20px 30px;
}