@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --color-primary: #752bdf;
  --color-secondary: #39d89e;

  --primary-light: #f2ebfd;
  --second-section: #41b6ff;
  --second-section-light: #ecf7fc;
  --third-section: #fa8b4f;
  --third-section-light: #fef3ee;
  --fourth-section: #f94c80;
  --fourth-section-light: #feeef2;

  --text-light1: #c7c9d5;
  --text-light2: #a0a5bb;

}

html {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #373737;
}

body {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
